* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.background {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.header {
  color: #CDCDCD;
}
.header__navigation {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  flex-direction: column;
}
.header__logo-title {
  font-size: 32px;
  line-height: 32.5px;
  letter-spacing: 0.06em;
  font-family: Georgia, sans-serif;
  color: #F1CDB3;
}
.header__logo-subtitle {
  padding-top: 10px;
  font-size: 13px;
  color: #FFFFFF;
  line-height: 15px;
  letter-spacing: 0.1em;
  padding-left: 4px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
  font-family: Arial, serif;
  font-weight: 400;
}
.nav__item--pets {
  margin-left: 35px;
  margin-right: 35px;
}
.nav__item--contacts {
  margin-left: 35px;
}

.offer {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
}
.offer__text {
  padding-top: 163px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.offer__title {
  font-family: Georgia;
  font-size: 44px;
  line-height: 57px;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
}
.offer__subtitle {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400px;
  margin: 0;
  padding-top: 42px;
  color: #CDCDCD;
}
.offer__image {
  max-width: 100%;
  padding-left: 42px;
}
.offer__button {
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 15px 45px;
  background-color: #F1CDB3;
  border-radius: 100px;
  border: none;
  width: fit-content;
  margin-top: 42px;
}

.about {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 100px;
}
.about__image {
  padding-left: 175px;
}
.about__text {
  padding-left: 120px;
}
.about__title {
  font-family: Georgia;
  font-size: 44px;
  line-height: 57px;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
  padding-top: 14px;
  color: #545454;
  letter-spacing: 0.06em;
}
.about__content {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400px;
  max-width: 430px;
  margin: 0;
  padding-top: 25px;
  color: #4C4C4C;
}

.slider {
  background-color: #F6F6F6;
  padding-bottom: 100px;
}
.slider__title {
  font-family: Georgia;
  font-size: 35px;
  line-height: 46px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 0.06em;
  text-align: center;
  padding-top: 80px;
  margin: 0;
}
.slider__button {
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 15px 45px;
  background-color: #F1CDB3;
  border-radius: 100px;
  border: none;
  display: flex;
  margin: 0 auto;
}

.cards {
  padding-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}
.cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 270px;
  border-radius: 9px;
  background-color: #FAFAFA;
}
.cards__item--centered {
  margin: 0 90px;
}
.cards__title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 0.06em;
  padding-top: 30px;
}
.cards__button {
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 15px 45px;
  background-color: #F1CDB3;
  border-radius: 100px;
  border: none;
  background-color: transparent;
  border: 1px solid #F1CDB3;
  margin: 30px 0;
}

.help {
  padding-bottom: 100px;
}
.help__title {
  font-family: Georgia;
  font-size: 35px;
  line-height: 46px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 0.06em;
  text-align: center;
  margin: 0;
  padding-top: 80px;
  margin-bottom: 5px;
}
.help__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.help__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 55px;
  margin-left: 120px;
  width: fit-content;
}
.help__item--start {
  margin-left: 87px;
}
.help__item--vitamins {
  margin-left: 185px;
}
.help__image {
  margin: 0 auto;
}
.help__description {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin: 0;
  padding-top: 30px;
}

.payment {
  background-color: #F6F6F6;
  padding-bottom: 100px;
}

.donation {
  padding-top: 91px;
  display: flex;
  justify-content: center;
}
.donation__image {
  max-width: 505px;
}
.donation__action {
  margin-left: 30px;
}
.donation__title {
  font-family: Georgia;
  font-size: 35px;
  line-height: 46px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 0.06em;
  margin: 0;
}
.donation__subtitle {
  margin: 0;
  padding: 20px 0;
  font-size: 15px;
  font-family: Georgia;
  line-height: 17px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 0.06em;
}
.donation__form {
  display: block;
  position: relative;
  max-width: 349px;
  background-color: #F1CDB3;
  border-radius: 9px;
  padding: 10px 15px 10px 60px;
  margin: 0;
}
.donation__form:before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 23px;
  background-image: url(../../assets/icons/credit-card.svg);
  background-size: contain;
  top: 10px;
  left: 15px;
}
.donation__input {
  font-family: Georgia;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  letter-spacing: 0.06em;
  outline: none;
  width: 278px;
  color: #545454;
}
.donation__input::placeholder {
  color: #545454;
}
.donation__text {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
  max-width: 380px;
  margin: 0;
  padding-top: 20px;
}

.footer {
  background-image: url(../../assets/images/footer-gradient-background.svg);
  background-size: cover;
}

.contacts {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.contacts__item {
  max-width: 279px;
  display: flex;
  flex-direction: column;
}
.contacts__item--center {
  margin: 0 160px;
  max-width: 302px;
}
.contacts__title {
  font-family: Georgia;
  font-size: 35px;
  line-height: 46px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin: 0;
}
.contacts__mail, .contacts__phone, .contacts__address {
  display: block;
  position: relative;
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  font-style: normal;
  padding-top: 43px;
  padding-left: 60px;
  text-align: left;
  color: #F1CDB3;
  text-decoration: none;
}
.contacts__mail:before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 26px;
  background-image: url(../../assets/icons/mail.svg);
  background-size: contain;
  bottom: 0;
  left: 0;
}
.contacts__phone {
  padding-top: 49px;
}
.contacts__phone:before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 26px;
  background-size: cover;
  bottom: 0;
  left: 0;
  background-image: url(../../assets/icons/phone.svg);
  height: 32px;
}
.contacts__address {
  padding-left: 42px;
}
.contacts__address--top {
  padding-top: 34px;
}
.contacts__address--top:before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 26px;
  background-size: cover;
  bottom: 0;
  left: 0;
  background-image: url(../../assets/icons/pin.svg);
  width: 22px;
  height: 32px;
  bottom: 8px;
}
.contacts__address--bottom {
  padding-top: 37px;
}
.contacts__address--bottom:before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 26px;
  background-size: cover;
  bottom: 0;
  left: 0;
  background-image: url(../../assets/icons/pin.svg);
  width: 22px;
  height: 32px;
}
.contacts__image {
  background-image: url(../../assets/images/footer-puppy.svg);
  background-size: cover;
  width: 300px;
  height: 310px;
}

/*# sourceMappingURL=style.css.map */
