.container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column-reverse;
  height: 100vh;
  background-color: rgb(184, 214, 179);

}
.minesweeper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 329px;
  height: fit-content;
  padding-top: 20px;
}
.cell {
  background-color: rgb(123, 160, 131);
  width: 30px;
  height: 30px;
  border: 3px inset white;
  cursor: pointer;
}
.cell:disabled {
  color: black;
  opacity: 0.7;
}
.cell:hover {
  background-color: green;
}
.cell.red {
  background-color: red;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 100px;
  height: 40px;
  margin-top: 10px;
  color: red;
}