
* {
  box-sizing: border-box;
}

body{
    font-family: "Arial";
    font-weight: 400;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

.our-friends{
    background-color: $bg-color-light;
}

.friends{
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title{
        @include heading;
        padding-top: 80px;
        margin: 0;
        text-align: center;
    }

    &__cards{
        display: flex;
        padding-top: 30px;
        flex-wrap: wrap;
    }

    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 270px;
        border-radius: 9px;
        background-color: #FAFAFA;
        margin-left: 40px;
        margin-top: 30px;
        cursor: pointer;
        transition: all 1s ease-in-out;

       &:hover{
           background-color: #FFFFFF;
       } 

       &--katrine, &--timmy{
           margin-left: 0;
       }
    }

    &__subtitle{
        font-family: "Georgia";
        font-size: 20px;
        line-height: 23px;
        font-weight: 400;
        color: $text-color-title;
        letter-spacing: 0.06em;
        padding-top: 30px;
    }

     &__button{
        @include button;
        background-color: transparent;
        border: 1px solid $bg-color-button;
        margin: 30px 0;

        &:hover{
            background-color: #FDDCC4;
            border-color: #FDDCC4;
        }
    }

    &__pagination{
        padding-top: 60px;
        display: flex;
        justify-content: center;
    }

    &__control{
        @include text-description;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        border: 2px solid transparent;
        background-color: transparent;
        margin-left: 20px;
        color: $text-color-dark;
        cursor: pointer;
        transition: all 1s ease-in-out;

        &--active{
            border-color: $bg-color-button;
            background-color: $bg-color-button;
        }

        &--first, &--back{
            border-color: #CDCDCD;
            color: $text-color-primary;
        }

        &--first{
            margin-left: 0;
        }

        &--ahead, &--last{
            border-color:$bg-color-button;
        }

        &:hover{
            background-color: #FDDCC4;
            border-color: #FDDCC4;
            color: $text-color-dark;
        }
    }
}

.disable{

    &:hover{
        border-color: #CDCDCD;
        color: $text-color-primary;
        background-color: transparent;
        cursor: auto;
    }
}