$text-color-primary: #CDCDCD;
$text-color-secondary: #F1CDB3;
$text-color-text: #FFFFFF;
$text-color-dark: #292929;
$text-color-title: #545454;
$text-color-content: #4C4C4C;

$bg-color-light: #F6F6F6;
$bg-color-button: #F1CDB3;

